
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto); 
  gap: 1em; 
  justify-items: center;
}

main > h2,
main > p {
  grid-column: 1 / -1; 
  text-align: center;
  font-size: 2em;
  margin:0;
}

@media (min-width: 320px) and (max-width: 799px) {

    main {
      grid-template-columns: repeat(2, 1fr);  
      grid-template-rows: repeat(6, auto); 
    }

}
