
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto repeat(3, 1fr); 
  gap: 1em; 
  justify-items: center;
  align-items: center;
}

main > h2 {
  grid-column: 1 / -1; 
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}


@media (min-width: 320px) and (max-width: 799px) {

    main {
    grid-template-columns: repeat(2, 1fr);  
    grid-template-rows: auto repeat(6, 1fr); 
    gap: 15px; 
    }

    main > h2 {
        font-size: 1.5em; 
    }

    article img {
        max-width: 100px; 
    }
}
