/*Datos personales: Ana Calleja Ramon UO300568*/
/*Estilos para el layout del proyecto MotoGP-Desktop*/


/*Selector de tipo (especificidad 0-0-0-1)*/
header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 5px 10px; 
    flex-wrap: wrap; 
}

/*Selector descendente de tipo (especificidad 0-0-0-2)*/
nav {
    display: flex;
    gap: 5px; 
    flex-wrap: wrap; 
}

/*Selector de tipo (especificidad 0-0-0-1)*/
nav a {
    text-decoration: none;
    padding: 0px 5px;
}


/* El titular de cada noticia */
main > section > article > h3 {
    margin-bottom: 0.3rem;
}

/* El párrafo que viene justo después del h3 */
main > section > article > h3 + p {
    margin-bottom: 0.3rem;
}

/* La línea de fuente va justo después del párrafo */
main > section > article > p + p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 0.5rem;
}

/* El enlace que viene después de todo */
main > section > article > a {
    display: inline-block;
    margin-top: 0.2rem;
}

body > div {
    width: 600px;
    height: 400px;
    border: 2px solid black;
    margin-top: 20px;
}


/* Reglas para dispositivos móviles (320px a 799px)*/
@media (min-width: 320px) and (max-width: 799px) {

    /* Selector de tipo (especificidad 0-0-0-1)*/
    header {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center; 
    }

    /*Selector de tipo (especificidad 0-0-0-1)*/
    nav {
        display: flex;
        flex-direction: column; 
        align-items: center;
        gap: 10px; 
    }

    /* Selector de clase o tipo específico (especificidad 0-0-0-1)*/
    header + p  {
        display: none; 
    }

    video {
        width: 100%;
        height: auto;
    }

    audio {
        width: 100%;
    }

    /* Imagen del carrusel */
    article h2 + img {
        width: 100%;      
        height: auto;     
        display: block;    
        margin: 0 auto;  
    }
}
